<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2luZW1hfGVufDB8fDB8fHww);" >
  <div class="container" class="text-white">
    <h1>Welcome Cinephile!</h1>
    <p>Personalize your movies</p>
  </div>
</div>

<h2>Your lists</h2>
<% @lists.each do |list|%>
<h4><%= link_to list.name, list_path(list.id) %></h4>
<% end %>

<%= link_to "Añadir lista nueva", new_list_path%>
